* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, monospace;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 17.5px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#custom-language,
#custom-updates,
#custom-temp,
#custom-cpu-temp,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#custom-power,
#bluetooth,
#network,
#tray,
#cpu,
#memory,
#disk,
#temperature,
#custom-power-profiles,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0;
    margin-right: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 10px;
    padding-left: 10px;
}

#bluetooth {
    color: #569bff;
    border-left: 0;
    border-right: 0;
}

#network {
    color: #f9e2af;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#custom-power {
    color: #ff5555;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    padding-right: 15px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    border-left: 0px;
}

#battery.charging.warning {
    color: #a6e3a1;
}

#battery.charging.warning {
    color: #a6e3a1;
}

#battery.discharging.warning {
    color: #AFAF00;
}

#battery.discharging.critical {
    color: #aa0000;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
    border-left: 0;
}

#cpu {
    color: #98ce67;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border-right: 0;
}

#memory {
    color: #8394f8;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    border-right: 0px;
    border-left: 0;
}

#custom-cpu-temp {
    color: #f1ae53;
    margin-left: 0px;
    border-right: 0px;
    border-left: 0px;
}

#custom-temp {
    color: #f1ae53;
    border-radius: 10px 0 0 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-power-profiles {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
}

